[user]
  name = Juan Jacobo Jaramillo
  useConfigOnly = true
[include]
    path = ~/.gitconfig.university-work
[includeIf "gitdir:~/repos/work/"]
    path = ~/.gitconfig.work
[core]
	editor = nvim 
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  light = false
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[pull]
	rebase = true
